<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/FrontEnd/assets/style.css">
</head>
<footer class="footer">

    <div class="footer-top">

        
        <div class="footer-col">
            <h3>About Glucare</h3>
            <p>Take control of your diabetes risk and start living a healthier life.</p>
        </div>

        <div class="footer-col">
            <h3>Resource Center</h3>
            <ul>
                <li><a href="#">Case Studies</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Interview</a></li>
            </ul>
        </div>


        <div class="footer-col">
            <h3>Support</h3>
            <ul>
                <li><a href="footer.html">Help Center</a></li>
                <li><a href="/FrontEnd/boarding-page/hubungi-kami.html">Contact Us</a></li>
                <li><a href="#">Registration</a></li>
                <li><a href="/FrontEnd/boarding-page/halaman-utama.html#faq">FAQ</a></li>
                <li><a href="#">Log</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-logos">
        <img src="/FrontEnd/Images/homeimages/rslogo.png">
        <img src="/FrontEnd//Images/homeimages/whologo.png">
        <img src="/FrontEnd/Images/homeimages/diabeteslogo.png">
        <img src="/FrontEnd/Images/homeimages/kesehatanlogo.png">
    </div>

    <div class="footer-bottom">

        <div class="footer-left">


            <div class="footer-brand">
                <img src="/FrontEnd/Images/logo_glucare.png" alt="Glucare">
                <span>GluCare</span>
            </div>


            <div class="footer-links-small">
                <a href="#">Privacy & Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Help</a>
                <a href="#">Language help</a>
                <a href="#">Glucare App</a>
            </div>


            <p class="footer-desc">
                GluCare is an AI application for early detection and intervention
                in the pre-diabetes phase for individuals aged 20–40.
            </p>

        </div>

        <div class="footer-social">
            <a href="https://wa.me/number" target="_blank">
                <img src="/FrontEnd/Images/homeimages/Whatsapp.svg">
            </a>
            <a href="https://instagram.com/username" target="_blank">
                <img src="/FrontEnd/Images/homeimages/Instagram.svg">
            </a>
            <a href="https://facebook.com/page" target="_blank">
                <img src="/FrontEnd/Images/homeimages/Facebook.svg">
            </a>
            <a href="https://discord.com" target="_blank">
                <img src="/FrontEnd/Images/homeimages/Discord.svg">
            </a>
        </div>

    </div>

</footer>
<body>
    
</body>
</html>