<header id="navbar" class="navbar-wrapper">
    <nav class="navbar">

        <a href="/FrontEnd/boarding-page/halaman-utama.html" class="logo">
            <img src="/FrontEnd/Images/logo_glucare.png" alt="Logo">
            <h2>Glucare</h2>
        </a>

        <ul class="links">
            <li><a href="/FrontEnd/boarding-page/halaman-utama.html">Beranda</a></li>
            <li><a href="/FrontEnd/boarding-page/tentang.html">Tentang Kami</a></li>
            <li><a href="/FrontEnd/boarding-page/fitur-utama.html">Fitur Utama</a></li>
            <li><a href="/FrontEnd/boarding-page/cara-kerja-glucare.html">Cara Kerja</a></li>
            <li><a href="/FrontEnd/boarding-page/hubungi-kami.html">Hubungi Kami</a></li>
        </ul>

        <a href="/FrontEnd/boarding-page/login.html" class="login">
            <img src="/FrontEnd/Images/logo_login.png" alt="Login">
            <span>Masuk</span>
        </a>

    </nav>
</header>